*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.menu{
	display: flex;
	justify-content: center;
	flex-direction: column;
        background-color: #A3E4D7;
        align-items: center
}
.morado{
	display: flex;
	width: 900px;
	height: 150px;
	background-color: #D7BDE2;
	justify-content: space-between;
}
.rosa1{
	display: flex;
	background-color: #F5B7B1;
	width: 250px;
	height: 50px;

	align-self: center;
}
.rosa2{
	display: flex;
	background-color: #F5B7B1;
	height: 50px;
	width: 250px;
	align-self: center;

}
.azulandcoffe{
	display: flex;
        justify-content: center;
}
.azul{
	display: flex;
	width: 700px;
	height: 350px;
	background-color: #2980B9;
        justify-content: space-around;
        align-items: flex-end;
       
}
.coffe{
    display: flex;
    background-color: #CD6155;
    width: 200px;
    height: 350px;
    flex-direction: column;
    align-items: center;
}
.yellow11,
.yellow12,
.yellow13{
    display:flex;
    width:100px;
    height: 100px;
    background-color: #FFF633;
}
.yellow21,
.yellow22,
.yellow23{
    border:1px solid #000000;
    display:flex;
    width:100px;
    height: 100px;
    background-color: #FFF633;
}
.crema{
    display: flex;
    width: 900px;
    height: 100px;
    background-color: #D7BDE2;
    justify-content: center;
}
.yellow,
.yellow{
    display: flex;
    background-color: #FFF633;
    width: 100px;
    heigth: 100px;
    border: 1px solid #000000;
}