*{
	padding: 0px
	margin:auto;
	box-sizing: border-box;
}
h1{
    color: #FF0000;
    padding: 50px;
    border: 1px solid #5D6063;
    text-align:center;
}
h3{
    color: #F60590;
}
p{
    color: #B03A2E;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.principal{
    display: flex;
    align-content: center;
    background-color: #aef9e4;
    flex-direction: column;
}
.cabeza{
    display: block;
    align-content: center;
    background-color: #33ffe9;  
    width: 100%;
}
.menu{
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color: #05F668;
}
.personal{
    display:flex;
    align-content:center;
}
.datos3,
.datos2,
.datos{
    display:flex;
    flex-direction: column;
    
}
.ima3,
.ima2,
.ima{
    display:flex;
    align-content: center;
}
.etrete{
    display:flex;
    align-content: center;
}
.escolar{
    display:flex;
    align-content:center;
}

a:link{
    color:lime;
    text-decoration:none;
}
a:visited{
    color:#F605B4;
}
a:hover{
    color: #0813ED;
    text-decoration: underline;
}
a:active{
color:red;
}
.deportes{
    margin: auto;
    text-align: center;
    background-color: #2E30B0;
}
ul{
    color:#00FF00;
    text-align: center;
}
ol{
    color: #008080;
    text-align: center;
}
@media only screen and (max-width: 400px){
    body{
        background-color: #F8FEF8;
    }
}
@media only screen and (min-width: 401px) and (max-width: 960px){
    body{
        background-color: #F8FEF8;
    }
}
@media only screen and (min-width: 961px){
    
    body{
        background-color: #F8FEF8;
    }
}